# ignore visual studio stuff
*.sln
/.vs/*
/CollisionDetection/*
/Debug/
/x64/*

# ignore lib folder which contains glm source
/lib/*

# ignore main.cpp file that I use for test purposes (I will add better test files in the future)
**/sources/main.cpp